<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <!-- main header -->
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                      <!-- left side div  -->
                      <div class="col-md-6 col-12 main-header-right">
                        <figure>
                            <img src="images/p6.jpg" alt="image" class="img-fluid " title=" about-image"/>
                        </figure>
                     
                 </div>
                  <div class="col-md-6 col-12 main-header-left">
                    <p>Welcome to NIT CALICUT</p>
                    <h1>I am a  <span class="text_clr">self motivated coder and </span>MERN stack developer </h1>
                    <a href="/"><button>About Me</button></a>
                  </div>
                    <!-- right side div  -->
                   

                  </div>
                    
                 </div>
            </div>
        </div>
        <!-- footer  -->
      {{>footer}}
</body>
</html>